header {
  color: white;
  text-align: center;
  background: #546e7a;
  height: 100px;
  padding-top: 5px;
}

.current-weather {
  font-size: 25px;
  text-align: center;
}

#current-city.card-title {
  font-size: 35px;
}

.low-uv {
  background: green;
}

.mod-uv {
  background: yellow;
}

.high-uv {
  background: orange;
  
}

.veryHigh-uv {
  background: red;
}

.extreme-uv {
  background: purple;
}

div.fiveDay-container {
 align-items: center;
  text-align: center;
}